/* 鏁翠綋妗嗘灦鏍峰紡 */
body {
	margin: 0;
	padding: 0;
	border: none;
	border:0;
/* 	overflow: hidden; */
}

.main {
	width: 100%;
	height: 100%;
}

.top {
	float: left;
	height: 70px;
	width: 100%;
	position:fixed;
	top:0px;
	text-align: center;
	background-color: #ffffff;
	overflow: hidden;
}

.topMiddle {
	height: 70px;
	width: 960px;
	margin: 0 auto;
	background-color: #ffffff;
	overflow: hidden;
}

.topLogo {
	height: 60px;
	width: 109px;
	float: left;
	margin: 4px 0 0 43px;
	background: transparent url("../img/xinzhijunyang/LOGO.png") 0px 0px
		no-repeat;
}

.topLink {
	height: 20px;
	width: 300px;
	float: right;
	text-align: right;
	margin: 50px 0 0 0;
	font: normal normal 12px/20px tahoma;
}

.topLink table {
	padding: 0;
	border: none;
	float: right;
	text-align: center;
}

.topLink table td {
	padding: 0 0 0 12px;
	border: none;
	text-align: center;
	font: normal normal 12px tahoma;
}
.topLink table a{
	cursor: pointer;
	color: #000000;
	text-decoration: none;
}
.topLink table a:visited {color: #000000;}	
.topLink table a:hover {color: #ff3333;}
.topLink table a:active {color: #336699;}
.topNameBK {
	height: 46px;
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
	position:fixed;
	top:70px;
	background: #ffffff url("../img/xinzhijunyang/topNameBK.png") 0px -2px
		repeat-x;
	overflow: hidden;
	text-align: center;
}

.topNameMiddle {
	height: 46px;
	width: 960px;
	margin: 0 auto;
	/* 	background-color: #ffffff; */
	overflow: hidden;
}

.topName {
	float: left;
	height: 38px;
	width: 183px;
	margin-top: 1px;
	background: #df442b url("../img/xinzhijunyang/topName.png") center center
		no-repeat;
}

.userName {
	float: right;
	width: 300px;
	height: 20px;
	margin-top: 18px;
	text-align: right;
}

.userName table {
	padding: 0;
	float: right;
	border: none;
	text-align: left;
	font: normal normal 12px tahoma;
	color: #ffffff;
}

.userName table #name {
	padding-right: 20px;
}

.warp {
	margin-top:116px;
	float: left;
/* 	height: 860px; */
	width: 100%;
/* 	background: #003366; */
	text-align: center;
}
.iframewarp{
	width:960px;
	margin:0 auto;
	background-color: #ffffff;
}
#mainIframe{
	margin: 0;
	padding: 0;
}
.bottom {
	float: left;
	height: 86px;
	width: 100%;
	position: fixed;
	bottom: 0px;
	background:url("../img/xinzhijunyang/bottomBk.png") center center
		repeat-x;
	text-align: center;
	z-index: 4;
}

.bottomMiddle {
	height: 90px;
	width: 960px;
	margin: 0 auto;
	text-align: left;
}

.bottomMenuLink {
	height: 85px;
	width: 82px;
	position: relative;
	margin: 0px;
	padding: 0px;
	left: 40px;
	background: url("../img/xinzhijunyang/menu.PNG") 0 0 no-repeat;
	text-align: center;
	vertical-align: middle;
	z-index: 900;
}

.bottomMenuLink a {
	display: block;
	height: 85px;
	width: 82px;
	text-align: center;
	vertical-align: middle;
	font: normal normal 16px/85px tahoma;
	color: #ffffff;
	cursor: pointer;
	text-decoration: none;
}

.bottomMenu {
	display: none;
/* 	height: 160px; */
	width:124px;
	position: relative;
	bottom: 230px;
	margin: 0px;
	margin-left:60px;
	padding: 0px;
	left: 50px;
	text-align: center;
	vertical-align: middle;
	z-index: 10;
}

.bottomMenu ul {
	display: block;
	margin: 0 auto;
	width:124px;
/* 	background-color: #5c5655; */
	padding: 0;
	/* 	margin-top:30px; */
	/*     position:relative; */
	/*     left:10px; */
	font: normal normal 12px tahoma;
	color: #ffffff;
	list-style-type: none;
	z-index: 11;
	text-align: center;
}

.bottomMenu ul li {
	float: left;
	height: 32px;
	width:100%;
	position:relative;
/* 	background-color: #5c5655; */
    background:url("../img/xinzhijunyang/LIbackGround.png");
	line-height: 32px;
	text-align: right;
	white-space: nowrap;
	/* 	position: relative; */
}

.opacity80{
	background:url("../img/xinzhijunyang/LIbackGround.png");
/* 	background-color: #5c5655; */
/* 	filter:alpha(opacity=80);  */
/* 	-moz-opacity:0.8; */
/* 	opacity:0.8; */
}

.bottomMenu ul li a {
	display:block;
	height: 32px;
	line-height:32px;
/* 	background:url("../img/xinzhijunyang/liAbackground.png") right 0 no-repeat; */
/* 	padding:9px 0 9px 0; */
/* 	border-bottom:1px solid #ffffff; */
	color: #ffffff;
	cursor: pointer;
	text-decoration: none;
	padding:0 10px 0 0; 
	margin-right: 2px;
/* 	z-index: 20; */
}
.treeNode {
	display:block;
/* 	display:none; */
	visibility: hidden;
	position: absolute;
	top: 0px;
	left: 126px;
	width:124px;
/* 	background-color: #5c5655; */
	list-style-type: none;
	z-index: 12;
}
.treeNode ul li {
/* 	float: left; */
	height: 32px;
	width: 100%;
/* 	position:relative; */
	line-height: 32px;
	text-align: right;
	white-space: nowrap;
	/* 	position: relative; */
}
.Hiden{display: none;}
.countWarp{
	height:480px;
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
.zeoBottom{
	height:60px;
	width: 960px;
	margin: 0 auto;
}
/* 妫ｆ牠銆夐棃銏＄壉瀵繐绱戞慨锟�/
.leftCount{
	height:100%;
	width:190px;
	float: left;
}
.userblock{
	width: 100%;
	height:220px;
	background-color: #fafafa;
	padding-top: 16px;
	text-align: center;
}
.PictureBK{
	width: 105px;
	height: 136px;
	margin:0 auto;
	padding: 2px 1px 1px 0px;
/* 	margin-top: 16px; */
	background: url("../img/xinzhijunyang/PictureBK.PNG") 0px 0px no-repeat;
}
.PictureBK img{
	width: 100px;
	height: 130px;
}
.DateBlock{
	width: 105px;
/* 	height: 60px; */
	margin:0 auto;
	padding:10px 0 0 0;
}
.DateBlock table {
	table-layout: fixed;
}
.DateBlock table td{
	height:24px;
	font: normal normal 14px/24px tahoma;
	color:#7e7e7e;
	padding:0 2px 0 0;
	white-space: nowrap;
}
.messageBlock{
	width: 100%;
	height:256px;
	margin-top:8px;
	background-color: #fafafa;
	text-align: center;
}

.messageBlock h3{
	display:block;
	width:80px;
	height:30px;
	margin:0 auto;
	padding:2px 0 0 12px;
	text-align: center;
	font: normal bold 14px/30px tahoma;
	color:#7e7e7e;
	background: url("../img/xinzhijunyang/message.png") 0 center no-repeat;
}
.messageBlock dl{
	list-style: none;
	padding: 0;
	width:166px;
	margin:0 auto;
	text-align: left;
	border-top: 1px solid #ababab;
}
.messageBlock dl dt{
/* 	height:30px; */
	padding: 12px 4px 12px 4px;
	font: normal normal 12px tahoma;
	border-bottom: 1px solid #eeeeee;
}
.messageBlock dl dt a{
	margin: 0;
	float:none;
}
.messageBlock a{
	float: right;
	margin: 12px 12px 0 0;
	font: normal normal 12px tahoma;
	color:#5c5655;
	cursor: pointer;
}
.messageBlock a:visited {color: #5c5655;}	
.messageBlock a:hover {color: #ff3333;}
.messageBlock a:active {color: #336699;}
.rightCount{
	width:762px;
	height:480px;
	margin: 0 0 0 8px;
	float:left;
}
.rightTop{
	width:762px;
	height:306px;
	background-color: #fafafa;
}
.rightTop h3{
	display:block;
	width:100%;
	height:30px;
	margin:0;
	padding:0 0 0 40px;
	text-align: left;
	font: normal bold 14px/30px tahoma;
	color:#7e7e7e;
	background: url("../img/xinzhijunyang/common.png") 12px 4px no-repeat;
}
/* .rightTop table{ */
/* 	width:100%; */
/* 	height:276px; */
/* 	table-layout: fixed; */
/* } */
/* .rightTop table td{ */
/* 	width:20%; */
/* 	height:90px; */
/* 	border-width: 2px 2px 0 0; */
/* 	border-style: solid; */
/* 	border-color: #fafafa; */
/* } */
/* .rightTop table .last{ */
/* 	border-right-width:0px;  */
/* } */

.rightTop div{
	width:100%;
	height:276px;
}
.rightTop div div{
	width:19.72%;
	height:90px;
	border-width: 2px 2px 0 0;
	border-style: solid;
	border-color: #fafafa;
	float: left;
}
.rightTop div .last{
	border-right-width:0px; 
}

/* 甯哥敤鍔熻兘鍖哄垎妯″潡寮� */
.BlueMesse a{
	display:block;
	height:100%;
	width:100%;
	background-color: #81d1d1;
	vertical-align: middle;
	text-align: center;
	text-decoration:none;
	font: normal normal 18px/24px tahoma;
	color: #ffffff;
	cursor: pointer;
}
.BlueMesse a:visited {background-color: #81d1d1;}	
.BlueMesse a:hover {background-color: #a1dddd;}
.BlueMesse a:active {background-color: #62c6c7;}
.BlueMesse a span{
/*     visibility:hidden; */
    display:block;
    position:relative;
    top:1px;
    left:115px;
	width: 34px;
	height: 37px;
	background:url("../img/xinzhijunyang/daichuli.png") 0px 0px no-repeat;
	line-height: 34px;
	text-align: center;
}
.BlueMesse a:visited span{
	background-position: 0px 0px;
}
.BlueMesse a:hover span{
	background-position: 0px -37px;
}
.BlueMesse a:active span{
	background-position: 0px -74px;
}

.redMesse a{
	display:block;
	height:100%;
	width:100%;
	background-color: #ef7e70;
	vertical-align: middle;
	text-align: center;
	text-decoration:none;
	font: normal normal 18px/24px tahoma;
	color: #ffffff;
	cursor: pointer;
}
.redMesse a:visited {background-color: #ef7e70;}	
.redMesse a:hover {background-color: #f19d92;}
.redMesse a:active {background-color: #eb5e5c;}
.redMesse a span{
    display:block;
    position:relative;
    top:1px;
    left:115px;
	width: 34px;
	height: 37px;
	background:url("../img/xinzhijunyang/shoujian.PNG") 0px 0px no-repeat;
	line-height: 34px;
	text-align: center;
}
.redMesse a:visited span{
	background-position: 0px 0px;
}
.redMesse a:hover span{
	background-position: 0px -37px;
}
.redMesse a:active span{
	background-position: 0px -74px;
}

.PurplMesse a{
	display:block;
	height:100%;
	width:100%;
	background-color: #dd95a4;
	vertical-align: middle;
	text-align: center;
	text-decoration:none;
	font: normal normal 18px/24px tahoma;
	color: #ffffff;
	cursor: pointer;
}
.PurplMesse a:visited {background-color: #dd95a4;}	
.PurplMesse a:hover {background-color: #e4afba;}
.PurplMesse a:active {background-color: #d57c8e;}
.PurplMesse a span{
    display:block;
    position:relative;
    top:1px;
    left:115px;
	width: 34px;
	height: 37px;
	background:url("../img/xinzhijunyang/qingdan.PNG") 0px 0px no-repeat;
	line-height: 34px;
	text-align: center;
}
.PurplMesse a:visited span{
	background-position: 0px 0px;
}
.PurplMesse a:hover span{
	background-position: 0px -37px;
}
.PurplMesse a:active span{
	background-position: 0px -74px;
}

.LPurplMesse a{
	display:block;
	height:100%;
	width:100%;
	background-color: #edabc0;
	vertical-align: middle;
	text-align: center;
	text-decoration:none;
	font: normal normal 18px/24px tahoma;
	color: #ffffff;
	cursor: pointer;
}
.LPurplMesse a:visited {background-color: #edabc0;}	
.LPurplMesse a:hover {background-color: #f2c1d0;}
.LPurplMesse a:active {background-color: #e997b1;}
.LPurplMesse a span{
    display:block;
    position:relative;
    top:1px;
    left:115px;
	width: 34px;
	height: 37px;
	background:url("../img/xinzhijunyang/yewuzhuizongchaxuntishi.PNG") 0px 0px no-repeat;
	line-height: 34px;
	text-align: center;
}
.LPurplMesse a:visited span{
	background-position: 0px 0px;
}
.LPurplMesse a:hover span{
	background-position: 0px -37px;
}
.LPurplMesse a:active span{
	background-position: 0px -74px;
}

.GreenMesse a{
	display:block;
	height:100%;
	width:100%;
	background-color: #a6d933;
	vertical-align: middle;
	text-align: center;
	text-decoration:none;
	font: normal normal 18px/24px tahoma;
	color: #ffffff;
	cursor: pointer;
}
.GreenMesse a:visited {background-color: #a6d933;}	
.GreenMesse a:hover {background-color: #bde367;}
.GreenMesse a:active {background-color: #91d101;}
.GreenMesse a span{
    display:block;
    position:relative;
    top:1px;
    left:115px;
	width: 34px;
	height: 37px;
	background:url("../img/xinzhijunyang/ziliaoliuzhuan.PNG") 0px 0px no-repeat;
	line-height: 34px;
	text-align: center;
}
.GreenMesse a:visited span{
	background-position: 0px 0px;
}
.GreenMesse a:hover span{
	background-position: 0px -37px;
}
.GreenMesse a:active span{
	background-position: 0px -74px;
}


.HPurplMesse a{
	display:block;
	height:100%;
	width:100%;
	background-color: #d192eb;
	vertical-align: middle;
	text-align: center;
	text-decoration:none;
	font: normal normal 18px/24px tahoma;
	color: #ffffff;
	cursor: pointer;
}
.HPurplMesse a:visited {background-color: #d192eb;}	
.HPurplMesse a:hover {background-color: #dbacef;}
.HPurplMesse a:active {background-color: #c678e7;}
.HPurplMesse a span{
    display:block;
    position:relative;
    top:1px;
    left:115px;
	width: 34px;
	height: 37px;
	background:url("../img/xinzhijunyang/saomiao.PNG") 0px 0px no-repeat;
	line-height: 34px;
	text-align: center;
}
.HPurplMesse a:visited span{
	background-position: 0px 0px;
}
.HPurplMesse a:hover span{
	background-position: 0px -37px;
}
.HPurplMesse a:active span{
	background-position: 0px -74px;
}

.OrangeMesse a{
	display:block;
	height:100%;
	width:100%;
	background-color: #f9a251;
	vertical-align: middle;
	text-align: center;
	text-decoration:none;
	font: normal normal 18px/24px tahoma;
	color: #ffffff;
	cursor: pointer;
}
.OrangeMesse a:visited {background-color: #f9a251;}	
.OrangeMesse a:hover {background-color: #f9b87b;}
.OrangeMesse a:active {background-color: #f78b26;}
.OrangeMesse a span{
    display:block;
    position:relative;
    top:1px;
    left:115px;
	width: 34px;
	height: 37px;
	background:url("../img/xinzhijunyang/gzlchaxun.PNG") 0px 0px no-repeat;
	line-height: 34px;
	text-align: center;
}
.OrangeMesse a:visited span{
	background-position: 0px 0px;
}
.OrangeMesse a:hover span{
	background-position: 0px -37px;
}
.OrangeMesse a:active span{
	background-position: 0px -74px;
}

.HGreenMesse a{
	display:block;
	height:100%;
	width:100%;
	background-color: #b1e932;
	vertical-align: middle;
	text-align: center;
	text-decoration:none;
	font: normal normal 18px/24px tahoma;
	color: #ffffff;
	cursor: pointer;
}
.HGreenMesse a:visited {background-color: #b1e932;}	
.HGreenMesse a:hover {background-color: #c4ee64;}
.HGreenMesse a:active {background-color: #9fe500;}
.HGreenMesse a span{
    display:block;
    position:relative;
    top:1px;
    left:115px;
	width: 34px;
	height: 37px;
	background:url("../img/xinzhijunyang/danzheng.PNG") 0px 0px no-repeat;
	line-height: 34px;
	text-align: center;
}
.HGreenMesse a:visited span{
	background-position: 0px 0px;
}
.HGreenMesse a:hover span{
	background-position: 0px -37px;
}
.HGreenMesse a:active span{
	background-position: 0px -74px;
}

.PinkMesse a{
	display:block;
	height:100%;
	width:100%;
	background-color: #f883af;
	vertical-align: middle;
	text-align: center;
	text-decoration:none;
	font: normal normal 18px/24px tahoma;
	color: #ffffff;
	cursor: pointer;
}
.PinkMesse a:visited {background-color: #f883af;}	
.PinkMesse a:hover {background-color: #f9a1c2;}
.PinkMesse a:active {background-color: #f7659c;}
.PinkMesse a span{
    display:block;
    position:relative;
    top:1px;
    left:115px;
	width: 34px;
	height: 37px;
	background:url("../img/xinzhijunyang/lingyong.PNG") 0px 0px no-repeat;
	line-height: 34px;
	text-align: center;
}
.PinkMesse a:visited span{
	background-position: 0px 0px;
}
.PinkMesse a:hover span{
	background-position: 0px -37px;
}
.PinkMesse a:active span{
	background-position: 0px -74px;
}

.LPinkMesse a{
	display:block;
	height:100%;
	width:100%;
	background-color: #feafa5;
	vertical-align: middle;
	text-align: center;
	text-decoration:none;
	font: normal normal 18px/24px tahoma;
	color: #ffffff;
	cursor: pointer;
}
.LPinkMesse a:visited {background-color: #feafa5;}	
.LPinkMesse a:hover {background-color: #ffc4bc;}
.LPinkMesse a:active {background-color: #ff9c90;}
.LPinkMesse a span{
    display:block;
    position:relative;
    top:1px;
    left:115px;
	width: 34px;
	height: 37px;
	background:url("../img/xinzhijunyang/zhishi.PNG") 0px 0px no-repeat;
	line-height: 34px;
	text-align: center;
}
.LPinkMesse a:visited span{
	background-position: 0px 0px;
}
.LPinkMesse a:hover span{
	background-position: 0px -37px;
}
.LPinkMesse a:active span{
	background-position: 0px -74px;
}

.LOrangeMesse a{
	display:block;
	height:100%;
	width:100%;
	background-color: #f2cc9a;
	vertical-align: middle;
	text-align: center;
	text-decoration:none;
	font: normal normal 18px/24px tahoma;
	color: #ffffff;
	cursor: pointer;
}
.LOrangeMesse a:visited {background-color: #f2cc9a;}	
.LOrangeMesse a:hover {background-color: #f4d8b2;}
.LOrangeMesse a:active {background-color: #f0c082;}
.LOrangeMesse a span{
    display:block;
    position:relative;
    top:1px;
    left:115px;
	width: 34px;
	height: 37px;
	background:url("../img/xinzhijunyang/shebeiguanli.PNG") 0px 0px no-repeat;
	line-height: 34px;
	text-align: center;
}
.LOrangeMesse a:visited span{
	background-position: 0px 0px;
}
.LOrangeMesse a:hover span{
	background-position: 0px -37px;
}
.LOrangeMesse a:active span{
	background-position: 0px -74px;
}

.HPinkMesse a{
	display:block;
	height:100%;
	width:100%;
	background-color: #f883af;
	vertical-align: middle;
	text-align: center;
	text-decoration:none;
	font: normal normal 18px/24px tahoma;
	color: #ffffff;
	cursor: pointer;
}
.HPinkMesse a:visited {background-color: #f883af;}	
.HPinkMesse a:hover {background-color: #f9a1c2;}
.HPinkMesse a:active {background-color: #f7659c;}
.HPinkMesse a span{
    display:block;
    position:relative;
    top:1px;
    left:115px;
	width: 34px;
	height: 37px;
	background:url("../img/xinzhijunyang/jigou.PNG") 0px 0px no-repeat;
	line-height: 34px;
	text-align: center;
}
.HPinkMesse a:visited span{
	background-position: 0px 0px;
}
.HPinkMesse a:hover span{
	background-position: 0px -37px;
}
.HPinkMesse a:active span{
	background-position: 0px -74px;
}

.DBlueMesse a{
	display:block;
	height:100%;
	width:100%;
	background-color: #71c6e0;
	vertical-align: middle;
	text-align: center;
	text-decoration:none;
	font: normal normal 18px/24px tahoma;
	color: #ffffff;
	cursor: pointer;
}
.DBlueMesse a:visited {background-color: #71c6e0;}	
.DBlueMesse a:hover {background-color: #93d3e7;}
.DBlueMesse a:active {background-color: #4eb9d9;}
.DBlueMesse a span{
    display:block;
    position:relative;
    top:1px;
    left:115px;
	width: 34px;
	height: 37px;
	background:url("../img/xinzhijunyang/renli.PNG") 0px 0px no-repeat;
	line-height: 34px;
	text-align: center;
}
.DBlueMesse a:visited span{
	background-position: 0px 0px;
}
.DBlueMesse a:hover span{
	background-position: 0px -37px;
}
.DBlueMesse a:active span{
	background-position: 0px -74px;
}
/* 甯哥敤鍔熻兘鍖哄垎妯″潡缁撴潫 */

.rightBottom{
	width:762px;
	height:166px;
	margin-top:8px;
}
.rightBottomleft{
	float:left;
	width:380px;
	height:166px;
	background-color: #fafafa;
}
.rightBottomright{
	float:left;
	width:380px;
	height:166px;
	margin-left:2px;
	background-color: #fafafa;
}
.rightBottomleft h3{
	display:block;
	width:100%;
	height:30px;
	margin:0;
	padding:0 0 0 40px;
	text-align: left;
	font: normal bold 14px/30px tahoma;
	color:#7e7e7e;
	background: url("../img/xinzhijunyang/search.png") 12px 4px no-repeat;
}
.rightBottomright h3{
	display:block;
	width:100%;
	height:30px;
	margin:0;
	padding:0 0 0 40px;
	text-align: left;
	font: normal bold 14px/30px tahoma;
	color:#7e7e7e;
	background: url("../img/xinzhijunyang/userhelp.png") 12px 4px no-repeat;
}
/* .rightBottomleft table{ */
/* 	width: 100%; */
/* 	height:136px; */
/* 	table-layout: fixed; */
/* } */
/* .rightBottomleft table td{ */
/* 	width: 25%; */
/* 	height:68px; */
/* 	border-width: 0; */
/* } */

.rightBottomleft div{
	width: 100%;
	height:136px;
}
.rightBottomleft div div{
	width: 25%;
	height:68px;
	border-width: 0;
	float:left;
}

/* .rightBottomright table{ */
/* 	width: 100%; */
/* 	height:136px; */
/* 	table-layout: fixed; */
/* } */
/* .rightBottomright table td{ */
/* 	width: 25%; */
/* 	height:68px; */
/* 	border-width: 0; */
/* } */

.rightBottomright div{
	width: 100%;
	height:136px;
}
.rightBottomright div div{
	width: 25%;
	height:68px;
	border-width: 0;
	float:left;
}
/* 鍔熻兘鏌ヨ鍖烘ā鍧楁牱寮忓紑濮�*/
.functionIcon a{
	display:block;
	height:100%;
	width:100%;
	vertical-align: middle;
	text-align: center;
	text-decoration:none;
	font: normal normal 12px/30px tahoma;
	cursor: pointer;
	color: #494949;
	z-index: 2;
}
.functionIcon a:visited {color: #494949;}	
.functionIcon a:hover {color: #ababab;}
.functionIcon a:active {color: #df442b;}
.functionIcon a span{
	display:block;
	width: 36px;
	height: 36px;
	margin:0 auto;
}
#Calculate a span{background:  url("../img/xinzhijunyang/baofeishisuan.png") 0 0 no-repeat;}
#Calculate a:visited span{
	background-position: 0px 0px;
}
#Calculate a:hover span{
	background-position: 0px -36px;
}
#Calculate a:active span{
	background-position: 0px -72px;
}

#SellSearch a span{background:  url("../img/xinzhijunyang/SellSearch.png") 0 0 no-repeat;}
#SellSearch a:visited span{
	background-position: 0px 0px;
}
#SellSearch a:hover span{
	background-position: 0px -36px;
}
#SellSearch a:active span{
	background-position: 0px -72px;
}

#Accountvalue a span{background:  url("../img/xinzhijunyang/Accountvalue.png") 0 0 no-repeat;}
#Accountvalue a:visited span{
	background-position: 0px 0px;
}
#Accountvalue a:hover span{
	background-position: 0px -36px;
}
#Accountvalue a:active span{
	background-position: 0px -72px;
}

#BonusAmount a span{background:  url("../img/xinzhijunyang/BonusAmount.png") 0 0 no-repeat;}
#BonusAmount a:visited span{
	background-position: 0px 0px;
}
#BonusAmount a:hover span{
	background-position: 0px -36px;
}
#BonusAmount a:active span{
	background-position: 0px -72px;
}

#Preservation a span{background:  url("../img/xinzhijunyang/Preservation.png") 0 0 no-repeat;}
#Preservation a:visited span{
	background-position: 0px 0px;
}
#Preservation a:hover span{
	background-position: 0px -36px;
}
#Preservation a:active span{
	background-position: 0px -72px;
}
/* 鍔熻兘鏌ヨ鍖烘ā鍧楁牱寮忕粨鏉�*/

/* 涓汉鍔╃悊鍖烘ā鍧楁牱寮忓紑濮�*/
#Mynotes a span{background:  url("../img/xinzhijunyang/Mynotes.png") 0 0 no-repeat;}
#Mynotes a:visited span{
	background-position: 0px 0px;
}
#Mynotes a:hover span{
	background-position: 0px -36px;
}
#Mynotes a:active span{
	background-position: 0px -72px;
}

#Remind a span{background:  url("../img/xinzhijunyang/Remind.png") 0 0 no-repeat;}
#Remind a:visited span{
	background-position: 0px 0px;
}
#Remind a:hover span{
	background-position: 0px -36px;
}
#Remind a:active span{
	background-position: 0px -72px;
}

#Downloads a span{background:  url("../img/xinzhijunyang/Downloads.png") 0 0 no-repeat;}
#Downloads a:visited span{
	background-position: 0px 0px;
}
#Downloads a:hover span{
	background-position: 0px -36px;
}
#Downloads a:active span{
	background-position: 0px -72px;
}

#Profile a span{background:  url("../img/xinzhijunyang/Profile.png") 0 0 no-repeat;}
#Profile a:visited span{
	background-position: 0px 0px;
}
#Profile a:hover span{
	background-position: 0px -36px;
}
#Profile a:active span{
	background-position: 0px -72px;
}

#Recycle a span{background:  url("../img/xinzhijunyang/Recycle.png") 0 0 no-repeat;}
#Recycle a:visited span{
	background-position: 0px 0px;
}
#Recycle a:hover span{
	background-position: 0px -36px;
}
#Recycle a:active span{
	background-position: 0px -72px;
}

#Tobeadded a span{background:  url("../img/xinzhijunyang/Tobeadded.png") 0 0 no-repeat;}
#Tobeadded a:visited span{
	background-position: 0px 0px;
}
#Tobeadded a:hover span{
	background-position: 0px -36px;
}
#Tobeadded a:active span{
	background-position: 0px -72px;
}
/* 涓汉鍔╃悊鍖烘ā鍧楁牱寮忕粨鏉�*/
/* 鏌ヨ椤甸潰涓棿濉厖寮� */
.divForEmpty{ 
	border:0px solid #F00;
	/* width:1015px;  */
	height:200px
	}
/* 鏌ヨ椤甸潰涓棿濉厖缁撴潫 */


/* 鎷涘嫙鍩硅闄勪欢淇敼鐣岄潰鍒犻櫎鏍峰紡 by寮犳櫒  */
.deup{
	margin-left : 15px;
	cursor : pointer ;
}

.seachDiv {
	width : 160px;
	heigth : 300px;
	background:white/* #b4aeed */;
 	Z-INDEX: 2;  
	POSITION: absolute;
	margin-top: 29px;
}
.div1 {
	margin-left:160px;
}
.div2 {
	margin-left:510px;
}
.div3 {
	margin-left:833px;
}
.seachDiv table tr.alt td{
	background:#ecf6fc;
	width : 160px;
}
.seachDiv table tr.over td{
	background:#bcd4ec;
	width : 160px;
}
