@CHARSET "UTF-8";

/*
show 是多影像上传后点击预览图片,对图片进行放大的样式 2013-12-16 ZhangChen
*/

.show {
	display: inline;
	visibility: visible;
	filter: alpha(opacity =  100);
	position: absolute;
	z-index: 103;
	cursor: pointer;
	zoom: 1;
	left: 250px;
	top: 20px;
	border-top-color: gray;
	border-right-color: gray;
	border-bottom-color: gray;
	border-left-color: gray;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	filter: alpha(opacity =  100);
}

.show img{
	max-width: 600px;
}
